# SPAM DETECTION SYSTEM

This project aims to build a spam detection system using Natural Language Processing (NLP) techniques in order to classify emails as spam or not spam based on the content of the email.
The steps involved in this project are:
1. Train a classifier to identify spam emails.
2. Find out the principal topics of the spam emails.
3. Compute the semantic similarity between the spam emails, to verify the etheroegeneity of the spam emails.
4. Extract from non-spam emails the Organisations mentioned in the emails.

In [5]:
import pandas as pd
import numpy as np
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
%config Completer.use_jedi=False

The dataset is available in data, and it is called `spam_dataset.csv`. It contains the following columns:

In [7]:
spam_df = pd.read_csv('../data/spam_dataset.csv', index_col=0)
spam_df.head(5)
print('------------------')
spam_df.shape
print('------------------')
spam_df.isnull().sum()
print('------------------')
spam_df['text'][605]

     label                                               text  label_num
605    ham  Subject: enron methanol ; meter # : 988291\nth...          0
2349   ham  Subject: hpl nom for january 9 , 2001\n( see a...          0
3624   ham  Subject: neon retreat\nho ho ho , we ' re arou...          0
4685  spam  Subject: photoshop , windows , office . cheap ...          1
2030   ham  Subject: re : indian springs\nthis deal is to ...          0

------------------

(5171, 3)

------------------

label        0
text         0
label_num    0
dtype: int64

------------------

"Subject: enron methanol ; meter # : 988291\nthis is a follow up to the note i gave you on monday , 4 / 3 / 00 { preliminary\nflow data provided by daren } .\nplease override pop ' s daily volume { presently zero } to reflect daily\nactivity you can obtain from gas control .\nthis change is needed asap for economics purposes ."

In [8]:
spam_df.reset_index(drop=True, inplace=True)
spam_df.head(3)

  label                                               text  label_num
0   ham  Subject: enron methanol ; meter # : 988291\nth...          0
1   ham  Subject: hpl nom for january 9 , 2001\n( see a...          0
2   ham  Subject: neon retreat\nho ho ho , we ' re arou...          0